/* const Menu = () => {
    <>
        <div className="menu-container">
            <div className="food-card-container">
                <div className="food-card">
                    <div className="food-card-image">
                        <img src={ramen} alt="ramen" />
                    </div>
                    <div className="food-card-content">
                        <h3>難波ラーメン</h3>
                        <h5>¥1020
                            <span className="zeikomi">
                                (税込)
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </>
}
    

*/
.menu-list {
    font-size: 20px;
    color: white;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    align-items: left;
    list-style: none;
    
}
.menu {
    color: white;
    padding-bottom: 60px;
    font-weight: bold;

}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 500px;
    max-width: 95%;
    text-align: center;
    position: fixed;

    p {
        text-align: left;
        font-size: 1.15rem;
    }
  }

   .card-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */

    p {
        font-size: 20px;
        font-weight: 600;
    }

    margin: 12px 0;
 }



   .modal-card img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    padding-top:20px ;
    /* margin-bottom: 1rem; */
  }
  
  .modal-card button {
    font-size: 30px;
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: transparent;
    font-size: 1.4rem;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    /* padding: 8px; */
    transition: color 0.2s ease;
    z-index: 11;
  }

.food-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
}

.food-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 220px;
    transition: transform 0.3s ease;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-card-image {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
}

.food-card-image img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.food-card-content {
    padding: 1rem;
    text-align: center;
}

.food-card-content h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.food-card-content h5 {
    font-size: 1.2rem;
    color: #555;
}

.food-card-content .zeikomi {
    font-size: 0.8rem;
    color: #999;
}

.food-card-content h5 span {
    font-size: 0.8rem;
    color: #999;
}

.food-card-content h5 {
    font-size: 1.2rem;
    color: #555;
}

.drink-container{
    width: 100%;
display: flex;
gap: 25px;
}

.non-alc{
width: 45%;
display: flex;
gap: 10px;

}

.alc{
display: flex;
gap: 10px;
}